
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply to G-Cloud 13
      </h1>

      <p>Apply by 1pm GMT, Friday 15 November 2021</p>

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">



      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">
              Application progress
          </h2>
          <p></p>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Confirm your company details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Incomplete</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  	Make your supplier declaration
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Can't start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                	Add, edit and complete services
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Can't start yet</strong>
            </li>

          </ul>
        </li>
      </ol>

      <h2 class="govuk-heading-m">
        Guidance
      </h2>
      <p><a href="#">Read about how to apply</a></p>

      <h2 class="govuk-heading-m">
        Legal documents
      </h2>
      <p>Nothing here yet</p>

      <h2 class="govuk-heading-m">
        Communications
      </h2>
      <p>You can review and ask clarification questions about this framework until 5pm GMT, Friday 30 October 2021.</p>
<!--
    <div class="govuk-grid-row gcloud-app-links">
      <div class="govuk-grid-column-two-thirds">
        <p><a href="#">Confirm your company details</a></p>
        <p>You need to confirm your company details before you can complete the next section </p>
      </div>

      <div class="govuk-grid-column-one-third progress-status">
        <div class="status-in-progress">
        <p>In progress</p>
        </div>
      </div>

    </div>

    <div class="govuk-grid-row gcloud-app-links">
      <div class="govuk-grid-column-two-thirds">
        <p><a href="#">Make your supplier declaration</a></p>
      </div>

      <div class="govuk-grid-column-one-third progress-status">
        <div class="status-cant-start">
        <p>Can't start yet</p>
        </div>
      </div>
    </div>


    <div class="govuk-grid-row gcloud-app-links">
      <div class="govuk-grid-column-two-thirds">
        <p><a href="#">Add, edit and complete services</a></p>
      </div>

      <div class="govuk-grid-column-one-third progress-status">
        <div class="status-cant-start">
        <p>Can't start yet</p>
        </div>
      </div>
    </div>


    -->


  </main>
</div>


    </div>
  </div>

{% endblock %}
