
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <a href="homepage_1" class="govuk-back-link">Back</a>




        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What are you using the Digital Marketplace to do?
      </h1>
    </legend>
    <div id="sign-in-hint" class="govuk-hint">
      Some hint text
    </div>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in">
        Sell software, services or support
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Hint text
        </div>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in-2">
          Buy software, services or support
        </label>
        <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
          Hint text </div>
      </div>
    </div>

  </fieldset>
</div>
          <p>
            <a href="/">
          <button class="govuk-button" data-module="govuk-button">
            Next
          </button>
          </a>
          </p>

    </div>
  </div>

{% endblock %}
