
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Your G-Cloud 12 services
      </h1>
      <p>
        The information you provide here: </p>
        <ul class="govuk-list govuk-list--bullet">

          <li>will be public</li>
          <li>maybe used as filters </li>
          <li>will appear on your service description page</li>
          <li>should help buyers review and compare services </li>
        </ul>


        <p>
          <a href="gcloud-service-type">
        <button class="govuk-button" data-module="govuk-button">
          Add a service
        </button>
        </a>
        </p>


          <div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <h3 class="govuk-heading-m">Ready for submission (3)</h3>
    <p>These services will be submitted and can be edited before the deadline</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds service-title">
        <p class="govuk-body">CoconutHosting</p>
      </div>

      <div class="govuk-grid-column-one-third service-title">
        <p class="govuk-body"><a href="#">Edit</a></p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds service-title">
        <p class="govuk-body">CoconutHostPro</p>
      </div>

      <div class="govuk-grid-column-one-third service-title">
        <p class="govuk-body"><a href="#">Edit</a></p>
      </div>
    </div>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds service-title">
            <p class="govuk-body">CoconutEditor</p>
          </div>

          <div class="govuk-grid-column-one-third service-title">
            <p class="govuk-body"><a href="#">Edit</a></p>
          </div>
        </div>

  </main>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">Drafts (1)</h3>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds service-title service-title">
    <p class="govuk-body">CoconutEditorPro</p>
  </div>

  <div class="govuk-grid-column-one-third  service-title service-title">
    <p class="govuk-body"><a href="#">Continue</a></p>
  </div>
</div>




          </div>

    </div>


{% endblock %}
