
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Your G-Cloud 12 services
      </h1>
      <p>
        The information you provide here: </p>
        <ul class="govuk-list govuk-list--bullet">

          <li>will be public</li>
          <li>maybe used as filters </li>
          <li>will appear on your service description page</li>
          <li>should help buyers review and compare services </li>
        </ul>

          <p>
            <a href="gcloud-service-type">
          <button class="govuk-button" data-module="govuk-button">
            Add a service
          </button>
          </a>
          </p>

          <div class="gcloud-services-added">
          <h2 class="govuk-heading-l">Services</h2>

          <h3 class="govuk-heading-m">Ready for submission</h3>
          <p>These services will be submitted and can be edited before the deadline</p>

          <p>CoconutHosting</p>
          <p><a href="#">Edit</a></p>

          <h3 class="govuk-heading-m">Draft</h3>
          <p>These services will be submitted and you can keep editing them before the deadline</p>

          <p>CoconutEditor</p>
          <p><a href="#">Edit</a></p>



          </div>

    </div>
  </div>

{% endblock %}
