
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Your G-Cloud 12 services

      </h1>
      <p>

        The information you provide here: </p>
        <ul class="govuk-list govuk-list--bullet">

          <li>will be public</li>
          <li>may be used as filters </li>
          <li>will appear on your service description page</li>
          <li>should help buyers review and compare services </li>
        </ul>

          <p>
            <a href="gcloud-service-type">
          <button class="govuk-button" data-module="govuk-button">
            Add a service
          </button>
          </a>
        </p>

    </div>
  </div>

{% endblock %}
