
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <a href="gcloud-home" class="govuk-back-link">Back</a>





    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Creative, design and publishing
          </h1>
        </legend>
        <div id="waste-hint" class="govuk-hint">
          Select all that apply.
        </div>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="creative">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              Option
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="crm">
            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
              Option
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="edrm">
            <label class="govuk-label govuk-checkboxes__label" for="waste-3">
              Option
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="creative">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              Option
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="creative">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              Option
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="creative">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              Option
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="creative">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              Option
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="creative">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              Option
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="creative">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              Option
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="creative">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
            Option
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="creative">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              Option
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="creative">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              Option
            </label>
          </div>
        </div>
      </fieldset>
    </div>

          <p>
            <a href="/">
          <button class="govuk-button" data-module="govuk-button">
          Save and continue
          </button>
          </a>
          </p>

    </div>


{% endblock %}
