
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Digital Marketplace prototypes

      </h1>
      <p>
        Improving the experience for suppliers, focusing on G-Cloud. <a href="https://www.figma.com/file/Szaa6q4RgQhZKBTVp5y5T3/Digital-Marketplace?node-id=334%3A11">Figma link</a>
      </p>


      <h2 class="govuk-heading-m">G-Cloud design index</h2>
      <hr>

      <h3 class="govuk-heading-s">WIP &mdash; Homepage &mdash; Figma only</h3>
      <p class="insight">User research insight &mdash; users miss the login link and try to set up a new supplier account
      </p>

      <ol class="govuk-list govuk-list--number">
      <li><strong>Change create account + login flow on homepage</strong> </br>
      Add a button to create an account (with the next step to choose seller or buyer account), with a link alongside it to log in.
      </br></br>
     Consider changing the H1 to describe what the Digital Marketplace does (align with Pay, Notify)

      <img src="public/images/home-change-flow.png" width="80%">

      <li><strong>More MVP redesign: modify login content + explanation</strong></br>
     Add a link to login in the seller section, and add some content to make it clear to sellers they can reuse info from previous applications.
     <a href="https://www.figma.com/file/Szaa6q4RgQhZKBTVp5y5T3/Digital-Marketplace?node-id=1181%3A0">See Figma for more design options and discussion</a>.</li>

      </ol>

      <hr>

      <h2 class="govuk-heading-m">HTML prototypes</h2>

      <h3 class="govuk-heading-s">Homepage</h3>
      <p class="insight">User research insight &mdash; login is hard to find</p>
      <ol class="govuk-list govuk-list--number">
      <li><a href="homepage_1">Homepage v1</a></li>
      </ol>


      <h3 class="govuk-heading-s">Application progress</h3>
      <p class="insight">User research insight &mdash; for returning users, it's not always clear they have to confirm their details before they can continue</p>
      <ol class="govuk-list govuk-list--number">
      <li><a href="application-progress-home">Application progress home</a></li>
      </ol>


      <h3 class="govuk-heading-s">Creating a new supplier account journey</h3>
      <p class="insight">User research insight &mdash; users aren't clear on what contact details to enter, and there's confusion between supplier contact details and the login email address</p>

      <ol class="govuk-list govuk-list--number">
      <li><a href="supplier-account-contact-details">Add contact details for supplier</a></li>
      <li><a href="supplier-account-create-login">Create login</a></li>
      </ol>


      <h3 class="govuk-heading-s">Choosing G-Cloud lot</h3>
      <p class="insight">User research insight &mdash; users don't see the lots with links as a clear call to action (and a separate problem, not addressed here, is that users don't understand which lot their service falls into)</p>
      <ol class="govuk-list govuk-list--number">
      <li><a href="gcloud-home">G-Cloud home – beginning</a></li>
      <li><a href="gcloud-service-type">Picking a service type question page</a></li>
      <li><a href="gcloud-service-dashboard">G-Cloud home – when a service has been added</a></li>
      </ol>

      <h3 class="govuk-heading-s">Adding categories to a service</h3>
      <p class="insight">User research insight &mdash; the list of categories is extremely long and it's difficult for users to think of categories and find one in the Marketplace that matches</p>

      <ol class="govuk-list govuk-list--number">
        <li><a href="gcloud-categories-miller">(A) Miller columns</a> &mdash; modify the GOV.UK miller columns element for the Digital Marketplace</li>
        <strike>
      <li><a href="gcloud-categories-list">(B) Sequential category picker</a> &mdash;  select high-level categories then select subcategories in a one-thing-per-page style </li>
      </strike> This doesn't work because of nested options inside high-level categories
    </div>
  </div>

{% endblock %}
