
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Digital Marketplace prototypes

      </h1>
      <p>
        Improving the experience for suppliers, focusing on G-Cloud. <a href="https://www.figma.com/file/Szaa6q4RgQhZKBTVp5y5T3/Digital-Marketplace?node-id=334%3A11">Figma link</a>
      </p>


      <h2 class="govuk-heading-m">G-Cloud prototype index</h2>

      <ol class="govuk-list govuk-list--number">
      <li><a href="gcloud-home">G-Cloud home – beginning</a></li>
      <li><a href="gcloud-service-type">Picking a service type question page</a></li>
      <li><a href="gcloud-service-added">G-Cloud home – when a service has been added</a></li>
      </ol>


    </div>
  </div>

{% endblock %}
